/*For font rendering :sweat: */
@font-face {
    font-family: 'Gowtham-Medium';
    src: url('/asserts/fonts/Gotham-Medium.eot');
    src: url('/asserts/fonts/Gotham-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bradon';
    src: url('../asserts/fonts/Brandon_reg.eot');
    src: url('../asserts/fonts/Brandon_reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    scroll-behavior: smooth;
}

body {
    /* for removing that extra spacing at top in body*/
    margin: 0px auto;
}

#header_container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    -ms-flex-flow: column wrap;
}

#topnav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    width: 100%;
}

.navbar {
    align-self: center;
    display: block;
    margin: auto;
    padding: 1px 20px;
    background: linear-gradient(45deg, #C8E6C9, #FFECB3);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.navbar:hover {
    background: linear-gradient(270deg, #C8E6C9, #FFECB3);
    transition: 1.3s;
}

/* .active {
    background-color: violet;
    color: black;
} */

/* navbar items */
.navbar a {
    display: inline-block;
    padding: 2px 8px;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:first-child {
    border-bottom-left-radius: 14px;
}

.navbar a:nth-last-child(2) {
    border-bottom-right-radius: 14px;
}

.navbar a:last-child {
    display: none;
}

.navbar a:hover {
    background-color: #2196F3;
    color: white;
    transition: .2s;
}

#banner {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
}

#banner>img {
    height: 25vh;
    padding: 2px;
}

#banner>p {
    font-size: 2rem;
    text-align: center;
    font-family: 'Merienda One', cursive;
}

/* media Query must be 690px*/
#body_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.image_cover {
    height: 60vh;
    background-image: url('../asserts/cycle.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.image_cover p {
    display: block;
    margin: auto;
    width: fit-content;
    top: 30%;
    font-size: large;
    text-align: center;
    position: relative;
    font-family: 'Gowtham-Medium', sans-serif;
    width: -moz-fit-content;
    -webkit-box-align: center;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.72);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    padding: 2vw;
    border: 3px solid #f1f1f1;
}

.image_cover span {
    color: #03A9F4;
}

.about_min {
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: row;
}

.about_min h1 {
    font-family: 'Gowtham-Medium', sans-serif;
    font-size: 2.4rem;
    align-self: center;
    letter-spacing: 5px;
    padding: 3px;
}

.about_min img {
    height: inherit;
    flex: 10%;
    width: fit-content;
    width: -moz-fit-content;
    align-self: center;
}

.about_min article {
    flex: 76%;
    font-family: 'Bradon', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

hr {
    width: 60%;
    color: #2196f3;
    border: none;
    border-bottom-style: dotted;
    border-bottom-width: 6px;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-content: center;
    align-items: center;
    -ms-flex-direction: row;
}

.gallery h1 {
    font-family: 'Gowtham-Medium', sans-serif;
    font-size: 2.4rem;
    align-self: center;
    letter-spacing: 5px;
    padding: 3px;
    text-align: center;
}

.gallery article {
    font-family: 'Bradon', sans-serif;
    align-self: center;
    font-size: 1.4rem;
    text-align: center;
}

.gallerycontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    -ms-flex-direction: row;
    -ms-flex-item-align: center;
    -ms-flex-align: center;
    -ms-flex-wrap: nowrap;
    column-gap: 16px;
    -webkit-column-gap: 16px;
    overflow: hidden;
    width: 100%;
}

.gallerycontainer img:first-child {
    flex: 22%;
    height: 24vh;
    max-width: 24%;
}

.gallerycontainer img:nth-last-child(3) {
    flex: 22%;
    height: 24vh;
    max-width: 24%;
}

.gallerycontainer img:nth-last-child(2) {
    flex: 22%;
    height: 24vh;
    max-width: 24%;
}

.gallerycontainer img:last-child {
    flex: 22%;
    height: 24vh;
}

.gallerycontainer img {
    opacity: 0.8;
    cursor: pointer;
}

.gallerycontainer img:hover {
    opacity: 1;
    transition: .5s;
}

.closeButton {
    position: relative;
    float: right;
    top: 35px;
    color: black;
    font-weight: 900;
    font-size: 42px;
    cursor: pointer;
}

.galleryshowcase {
    width: 100%;
    height: auto;
    display: none;
}

#caption {
    position: relative;
    bottom: 46px;
    float: left;
    color: white;
    font-weight: 900;
    font-family: 'Bradon', sans-serif;
    font-size: 28px;
    cursor: pointer;
    background-color: black;
}

.training_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    -ms-flex-direction: column;
    -ms-flex-item-align: center;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
}

.training_section article {
    font-family: 'Bradon', sans-serif;
    font-size: 1.6rem;
    align-self: center;
    text-align: center;
}

#training {
    font-family: 'Gowtham-Medium', sans-serif;
    font-size: 2.4rem;
    align-self: center;
    letter-spacing: 5px;
    padding: 3px;
    text-align: center;
}

.collapsablecontainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

#contextIcon {
    display: block;
    margin: auto;
    transition: ease-in-out;
}

.collapseablebutton {
    font-family: 'Gowtham-Medium', sans-serif;
    font-size: 1.2rem;
    background-color: #2196f3;
    min-height: 86px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    padding-left: 32px;
    max-height: 170px;
    outline: none;
    background-image: url('../asserts/icons/expand.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 2.6vw;
}

.activeX {
    background-image: url("../asserts/icons/shrink.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 2.6vw;
}

.collapseablebutton:hover,
.activeX {
    background-color: #333;
    color: white;
}

.collapseablecontent {
    font-family: 'Bradon', sans-serif;
    font-size: large;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out
}

.About {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    align-content: center;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    -ms-flex-align: center;
}

.About article {
    font-family: 'Bradon', sans-serif;
    align-self: center;
    font-size: 1.4rem;
    text-align: center;
}

.About h1 {
    font-family: 'Gowtham-Medium', sans-serif;
    font-size: 2.4rem;
    align-self: center;
    letter-spacing: 5px;
    padding: 3px;
    text-align: center;
}

@keyframes rainbow {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}

.aboutcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    transition: 2s;
    align-items: center;
    align-content: center;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.aboutcontent>article {
    flex: 50%;
    /* #333, transparent */
    background: linear-gradient(to right, #E91E63, #00BCD4, #443b3b);
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 1);
    display: block;
    text-align: center;
    transition: color .2s ease-in-out;
}

.aboutcontent>article:hover {
    color: rgba(0, 0, 0, 0);
    transition: 1.5s;
}

.ourstory {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    padding: 18px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
}

.aboutcontent>article>h2 {
    font-family: 'Gowtham-Medium', sans-serif;
    font-size: 2.1rem;
}

.color-l {
    background-color: #333;
    color: white;
}

#footer_conatiner {
    padding-top: 20px;
}

.footer_banner {
    background-image: url('../asserts/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    height: -moz-fit-content;
    width: 100%;
    overflow: hidden;
}

.footer_banner>h1 {
    display: block;
    width: 100%;
    font-family: 'Gowtham-Medium', sans-serif;
    font-size: 2.6rem;
    text-align: center;
    margin: auto;
}

.footer_banner article {
    font-family: 'Bradon', sans-serif;
    align-self: center;
    font-size: 1.4rem;
    text-align: center;
}

.contactusdetails {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 16px;
    margin-top: 16px;
    column-gap: 12px;
}

.callus {
    flex: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 16px;
}

.meetus {
    flex: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 16px;
}

.callus>img,
.meetus>img {
    max-height: 4vw;
}

.callus>img,
.callus>article {
    flex: 50%;
}

.meetus>img,
.meetus>article {
    flex: 50%;
}

.callus>article,
.meetus>article {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

/* make the display to block and set width 100% , flex none :hehe: */
@media only screen and (max-width:695px) {
    .navbar {
        display: block;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: grey;
        width: 100%;
    }

    .navbar a {
        display: none;
        text-decoration: none;
        color: black;
    }

    .navbar a:first-child {
        display: inline-block;
    }

    .navbar a:last-child {
        display: block;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    .navbar a:first-child {
        border-bottom-left-radius: 0px;
    }

    /* for expanding after menu icon pressed*/
    .navbarmobile {
        position: relative;
        display: block;
        background: linear-gradient(270deg, #C8E6C9, #FFECB3);
        transition: .2s;
        width: 100%;
        align-self: center;
        margin: auto;
        padding: 1px 20px;
    }

    .navbarmobile a:last-child {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: auto;
    }

    .navbarmobile a:first-child {
        width: 90%;
        display: inline-block;
    }

    .navbarmobile a:hover {
        color: white;
        background-color: #2196F3;
        transition: .2s;
    }

    .navbarmobile a {
        float: none;
        display: block;
        text-align: justify;
        width: 100%;
        color: black;
        padding: 2px 8px;
        text-decoration: none;
        font-size: 1.4rem;
        font-family: 'Mostserrat', sans-serif;
    }

    .active {
        background-color: blueviolet;
        color: black
    }

    #body_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #banner {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .image_cover {
        background-attachment: scroll
    }

    .about_min {
        flex-direction: column !important;
    }

    .collapsablecontainer,
    .rowsperator {
        display: block;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #contextIcon {
        display: none;
    }

    .contactusdetails {
        flex-wrap: wrap;
        row-gap: 12px;
    }

    .callus>img,
    .meetus>img {
        max-height: 24vw;
    }
}